* {
  border: 0;
  margin: 0;
  /* box-sizing: border-box; */
  /* overflow: hidden; */
}

body {
  position: relative;
  background-color: #e8e8e8;
  font-family: "Montserrat", sans-serif;
}

.dark-mode {
  background-color: #212121;
  color: white;
}
/* NAVIGATION BAR */
.nav {
  background-color: hsla(0, 0%, 100%, 0.4);
  position: sticky;
  height: 4rem;
  top: 0.5rem;
  z-index: 1;
  display: flex;
  border-radius: 20px 0;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  backdrop-filter: saturate(250%) blur(12px) brightness(100%);
  border-bottom: 2px solid #565656c8;
  margin: 0 1rem;
}

.nav img {
  height: 70%;
  margin-right: auto;
}

.nav div {
  display: flex;
}

.nav button {
  border: none;
  background: none;
  cursor: pointer;
}

.nav button span {
  padding-bottom: 7px;
  letter-spacing: 1px;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav button:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
  margin-left: 1rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  border-radius: 0.3em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ff8c0063;
}

input:focus + .slider {
  box-shadow: blue;
}

input:checked + .slider:before {
  transform: translateX(1em);
}

/* Main page container */

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 80vw;
  left: 10vw;
  position: relative;
  padding: 1rem;
}

.model-card {
  width: 254px;
  height: 254px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.212);
  border-radius: 20px;
  position: relative;
  transition: all 0.4s;
  overflow: hidden;
  cursor: pointer;
  margin: 1rem;
}

.model-card div {
  color: whitesmoke;
  position: absolute;
  width: 100%;
  height: 50%;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
  transition: all 0.3s;
  background: rgba(8, 8, 12, 0.747);
  position: relative;
  text-align: center;
  bottom: 2.5rem;
  padding: 0.5rem 0;
  font-size: larger;
}

.model-card span {
  font-size: small;
  text-align: justify;
  display: block;
  margin: 0.5rem;
}

.model-card:hover div {
  transform: translateY(-4rem);
}

.model-card img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* VIEWER PAGE */

.viewer-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  overflow: hidden;
}

#viewer-canvas-container {
  height: 100%;
  width: 100%;
}
/* canvas{
  height: 100%;
  width : 100%;

} */

.viewer-toolbox {
  height: 2.5rem;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1rem;
  background-color: #91919152;
  max-width: 22rem;
  border-radius: 0.5rem;
  justify-content: space-around;
  overflow: hidden;
  backdrop-filter: saturate(250%) blur(8px) brightness(100%);
}



.tool-button {
  height: 100%;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #91919152;
  padding: 0 0.5rem;
}
.tool-button img {
  height: 70%;
}
.tool-button:hover {
  background-color: #949494da;
}

.home-logo {
  border: 2px solid rgb(150, 150, 150);
  width: 1.5rem;
  height: 1.5rem;
  background-color: #91919152;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  transition: all 0.3s;
  z-index: 1;
  overflow: hidden;

  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  color: black;
  cursor: pointer;
}

.home-logo img {
  height: 100%;
  margin-right: 0.5rem;
}

.home-logo:hover {
  width: 5rem;
  border-radius: 1.5rem;
  background-color: #aeaeaec0;
}

#tree-view,
#property-view {
  
  position: absolute;
  z-index: 2;
  border: 0.1rem rgba(65, 62, 62, 0.836) solid;
  top: 1rem;
  overflow: hidden;
  /* overflow: auto; */
  border-radius: 0.8rem  ;
  width: 22rem;
}

/* Remove default bullets */
ul,
#myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  position: relative;
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 2rem;
}

.caret::after {
  /* content: url("./resources/icons/site.png"); */
  /* color: black;
  display: inline-block;*/
  margin-left: 1rem;
  position: absolute;
  left: -1.2rem ;
  bottom: -1.5rem;
  transform: scale(0.3);
}

.ifcproject::after{
  content: url("./resources/icons/project.png");
  
}
.ifcbuilding::after{
  content: url("./resources/icons/building.png");
}
.ifcbuildingstorey::after{
  content: url("./resources/icons/building-storey.png");
  left: -0.6rem ;
  bottom: -0.4rem;
  transform: scale(0.4);
}
.ifcsite::after{
  content: url("./resources/icons/site.png");
  
}



/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active-tree {
  display: block;
}

#tree-view-header,
#property-view-header {
  background-color: rgba(204, 204, 204, 0.486);
  padding: 0.3rem;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  cursor: move;
  color: black;
  display: block;

}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: rgba(202, 202, 202, 0.918);
  color: #444;
  cursor: pointer;
  padding: 0.4rem;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: medium;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: rgba(202, 202, 202, 0.788);
}

/* Style the accordion panel. Note: shown by default */
.panel {
  padding: 0 0.2rem;
  background-color: rgba(116, 116, 116, 0.774);
  display: block;
  overflow: hidden;
}
.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.prop-line {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0 0.2rem 0;
}
.prop-line > p:first-child {
  font-weight: bold;
  margin-right: 0.3rem;
}


/* width */
::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;

}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(124, 124, 124, 0.918);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #909090; 
}



#property-view-content,#treeViewRoot{
  overflow: auto;
  width: 100%;
  height: 20rem;
  
}

ul{
  padding-inline-start: 1rem;
}

#treeViewRoot{
  background-color: rgba(116, 116, 116, 0.774);
  padding: 0.5rem;
}

#treeViewRoot li
{
  white-space: pre;
  max-width: 100vw;
} 

.ifcjs-dimension-preview {
  width: 1rem;
  height: 1rem;
  background-color: #FFA50F;
  border-radius: 1rem;
  opacity: 0.5;
}

.ifcjs-dimension-label {
  background-color: rgba(136, 135, 135, 0.925);
  color: rgb(0, 0, 0);
  padding: 4px;
  border-radius: 4px;
}